
.logo {
    border-radius: 4px;
    padding: 10px;
    z-index: 2;
    transition: box-shadow 0.5s;

    &__img {
        @media (max-width: 576px) {
            max-width: 70px;
            height: auto;
        }
    }


    &:hover {
        box-shadow: 7px 7px 14px #aaa8a5, -7px -7px 14px #ffffff;
    }

    &:active {
        box-shadow: inset 7px 7px 14px #aaa8a5, inset -7px -7px 14px #ffffff;
    }

    &--dark {
        &:hover {
            box-shadow: 7px 7px 14px #171717, -7px -7px 14px #2d2d2d;
        }

        &:active {
            box-shadow: inset 7px 7px 14px #171717, inset -7px -7px 14px #2d2d2d;
        }
    }
}


.button {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    align-items: center;
    padding: 20px 30px 18px;
    color: $a;
    border-radius: 40px;
    position: relative;
    z-index: 2;
    transition: color 0.3s;
    background-color: $l;
    box-shadow: inset 5px 5px 10px $l-d,
        inset -5px -5px 10px $l-l;

    &:before {
        content: '';
        position: absolute;
        width: calc(100% - 25px);
        height: calc(100% - 25px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -2;
        border-radius: 40px;
        transition: outline-offset 0.3s;
    }

    &:after {
        content: '';
        position: absolute;
        width: calc(100% - 25px);
        height: calc(100% - 25px);
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        outline: 2px solid $a;
        border-radius: 40px;
        transition: background-color 0.5s, box-shadow 0.5s;
    }

    &:focus {
        outline: 1px solid $a-d;
        outline-offset: 2px;
    }

    &:hover {
        color: $l;

        &:after {
            background: $a;
            box-shadow: 4px 4px 2px $a-d,
                -4px -4px 2px $a-l;
        }
    }

    &__icon {
        fill: currentColor;
        margin-right: 20px;
        transition: fill 0.3s;
    }

    &:active,
    &.mixitup-control-active {
        color: $l;

        &:after {
            background: $a;
            box-shadow: inset 5px 5px 10px $a-d,
                inset -5px -5px 10px $a-l;
        }

        &__icon {
            fill: $l;
        }
    }


}

.details-link {
    padding: 8px 25px;
    border: 1px solid $s-l;
    border-radius: 12px;
    color: $s-l;
    background-color: rgba($d-d, 0.6);
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        background-color: transparent;
    }
}

