
@import 'reset';
// @import '../../node_modules/slick-carousel/slick/slick.scss';
// @import '../../node_modules/magnific-popup/src/css/main.scss';
@import 'global';

.contact {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__address {
        max-width: 540px;
        width: 100%;
        margin-right: 90px;

        @media (max-width: 992px) {
            margin: 0 auto 40px;
        }
    }

    &__text {
        margin-bottom: 30px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 25px;

            @media (max-width: 576px) {
                margin-bottom: 10px;
            }
        }
    }

    &__link {
        margin-top: 6px;
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 3px;
        color: $a900;
        font-size: 16px;
        transition: box-shadow 0.3s, outline 0.3s;

        @media (max-width: 576px) {
            width: 100%;
            padding: 10px 15px;
        }

        &:hover {
            box-shadow: 7px 7px 14px #aaa8a5, -7px -7px 14px #ffffff;
        }

        &:focus {
            outline-offset: 0;
        }

        &:active {
            box-shadow: inset 7px 7px 14px #aaa8a5, inset -7px -7px 14px #ffffff;
        }
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}

.form {
    max-width: 540px;
    width: 100%;

    @media (max-width: 992px) {
        margin: 0 auto;
    }

    &__label {
        display: block;
        padding-top: 30px;
        position: relative;
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 35px;
        }

        &.focused {
            .form__text {
                top: 0;
            }
        }
    }

    &__text {
        position: absolute;
        top: 39px;
        left: 20px;
        pointer-events: none;
        transition: top 0.5s;
    }

    &__input {
        display: block;
        width: 100%;
        background-color: #fafafa;
        padding: 10px 20px;
        border-radius: 4px;
        transition: border-color 0.4s, box-shadow 0.4s;

        &:hover {
            box-shadow: 3px 3px 4px #aaa8a5, -3px -3px 4px #ffffff;
        }

        &:focus {
            border-color: transparent;
            box-shadow: inset 3px 3px 4px #aaa8a5, inset -3px -3px 4px #ffffff;


        }

        &--area {
            resize: vertical;
            min-height: 100px;
            max-height: 250px;
        }
    }
}