@import 'reset';
@import 'global';

.course-hero {
    padding-top: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;

    @media (max-width: 576px) {
        padding: 30px 0;
    }

    &--roman {
        background-position: left top;

        @media (max-width: 576px) {
            background-position: right top;
        }
    }

    &--maryna {
        background-position: center bottom;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        background: linear-gradient(260deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 70%);
        z-index: -1;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    &__content {
        width: 100%;
    }

    &__title {
        text-align: center;
        font-size: 48px;
        margin-bottom: 40px;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    &__subtitle-small {
        display: block;
        font-size: 24px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            gap: 10px;
        }
    }

    &__item {
        border: 1px solid $d;
        text-align: center;
        padding: 10px 15px;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 8px;

        @media (max-width: 768px) {
            font-size: 12px;
            padding: 2px 7px;
            font-weight: 400;
            text-transform: capitalize;
        }
    }


    &__actions {
        display: flex;
        justify-content: center;
        gap: 45px;

        @media (max-width: 768px) {
            gap: 25px;
            flex-wrap: wrap;
        }
    }

    &__start-time {
        font-size: 18px;
        text-transform: uppercase;
        line-height: 1;
        padding: 0 25px;
        border-radius: 40px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        &:before {
            content: '';
            position: absolute;
            width: calc(100% + 25px);
            height: calc(100% + 25px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -2;
            border-radius: 40px;
            background: #f0ede8;
            box-shadow: inset 5px 5px 10px #92918e,
                inset -5px -5px 10px #ffffff;
        }

    }
}

.course-author {
    &__inner {
        display: flex;
        

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__img {
        margin-right: 100px;

        @media (max-width: 992px) {
            margin: 0 auto 40px;
        }
    }

    &__list {
        margin-bottom: 40px;
    }

    &__text {

        &:not(:last-child) {
            margin-bottom: 30px;
        }
        

        p:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__site-link {
        display: inline-flex;
        align-items: center;
        transition: color 0.3s, opacity 0.3s;

        &:hover {
            color: $a900;

            .course-author__site-icon {
                fill: currentColor;
            }
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__site-icon {
        margin-right: 15px;
        transition: fill 0.3s;
    }

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__icon {
        margin-right: 20px;
        fill: currentColor;
        flex-shrink: 0;
    }
}

.course-plan {
    padding-top: 0;
    position: relative;

    &__pre-text {
        font-style: italic;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        gap: 60px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__text {
        margin-bottom: 40px;

        p:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__img {
        height: auto;
        
        @media (max-width: 992px) {
            margin: 0 auto;

        }
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__modules {
        margin-bottom: 40px;
    }

    &__module {
        font-size: 16px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__module-title {
        font-size: 24px;
        border-bottom: 3px solid;
        border-image: linear-gradient(90deg, #ffffff, #ffffff07) 1;
        line-height: 1.1;
        margin-bottom: 15px;

        @media (max-width: 576px) {
            font-size: 18px;
        }
    }

    &__module-subauthor-btn {
        color: $a900;
        animation: pulsate-fwd 1.5s ease-in-out infinite;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        font-size: 18px;

        @media (max-width: 576px) {
            font-size: 14px;
        }

        &.open {
            animation: none;
            pointer-events: none;

            .course-plan__module-subauthor-icon {
                transform: rotate(-90deg);
            }
        }
    }

    &__module-subauthor-icon {
        stroke: $a900;
        margin-left: 15px;
        transform: rotate(0);
        transition: transform 1s;
    }

    &__date {
        font-weight: 700;
        display: inline-block;
        margin-bottom: 5px;
    }

    &__text {
        font-size: 14px;
        margin-bottom: 20px;
    }

    &__whom-item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__whom-title {
        margin-bottom: 15px;
        font-size: 18px;
    }

    &__list {

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            flex-shrink: 0;
            background-image: url('../images/icons/spinner.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 15px;
        }
    }

    &__ps {
        font-weight: 700;
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.01);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000077;
    z-index: 111;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;

    &.open {
        opacity: 1;
    }
}

.subauthor-card {
    position: absolute;
    top: 120px;
    right: 50px;
    width: 450px;
    background-color: $l;
    box-shadow: 5px 5px 12px #0000004d, -5px -5px 12px #0000004d;
    text-align: center;
    border-radius: 8px;
    transform: scale(0);
    transition: transform 1s;

    &.open {
        transform: scale(1);
        pointer-events: all;

        @media (max-width: 576px) {
            transform: translate(50%, -50%) scale(1);
        }
    }

    @media (max-width: 576px) {
        width: 95vw;
        height: auto;
        z-index: 1;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%) scale(0);
        padding: 15px;


    }

    &__content {
        padding: 25px 25px 35px;

        @media (max-width: 576px) {
            padding: 0;
        }
    }

    &__img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;

        @media (max-width: 576px) {
            max-width: 150px;
            width: 100%;
            height: auto;
            margin: 0 auto 20px;
        }
    }

    &__title {
        margin-bottom: 25px;
        font-size: 18px;

        @media (max-width: 576px) {
            margin-bottom: 15px;
        }
    }

    &__text {
        text-align: left;
        margin-bottom: 25px;

        @media (max-width: 576px) {
            font-size: 13px;
            margin-bottom: 15px;
        }
    }

    &__links-list {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 40px;

        @media (max-width: 576px) {
            margin-bottom: 15px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;

        &:hover {
            box-shadow: 7px 7px 14px #aaa8a5, -7px -7px 14px #ffffff;
        }

        &:active {
            box-shadow: inset 7px 7px 14px #aaa8a5, inset -7px -7px 14px #ffffff;
        }
    }

    &__icon {
        stroke: $a2-900;
    }

    &__button {
        justify-content: center;
    }

    &__close-btn {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        border: 1px solid $a900;

        &:before,
        &:after {
            content: '';
            position: absolute;
            background-color: $d;
            width: 20px;
            height: 2px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}

.course-price {
    padding-top: 0;
    text-align: center;

    &__top {
        justify-content: center;
    }

    &__list {
        display: flex;
        gap: 45px;;

        @media (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }

    }

    &__item {
        width: calc((100% - 2 * 45px) / 3);
        padding: 40px 25px;
        text-align: center;
        border-radius: 8px;
        border: 1px solid $a2-300;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 4px 4px 8px #00000054;
        transition: box-shadow 0.8s;

        @media (max-width: 992px) {
            width: calc((100% - 45px) / 2);
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        &:hover {
            box-shadow: 8px 8px 15px #00000054;
        }
    }

    &__icon {
        stroke: $a900;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 24px;
        margin-bottom: 15px;
        min-height: 3.2em;
    }

    &__details-list {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &:last-of-type {
            margin-bottom: 20px;
        }

        &--accent {
            font-weight: 700;
        }
    }

    &__details-item {
        text-align: left;
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            flex-shrink: 0;
            background-image: url('../images/icons/spinner.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 15px;
        }
    }

    &__subtitle {
        font-weight: 700;
        margin-bottom: 5px;
    }

    &__cost {
        margin-top: auto;
        margin-bottom: 40px;
        position: relative;
        padding: 15px 0;
        z-index: 1;
        width: calc(100% + 50px);
        color: $l;
        text-transform: uppercase;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-color: $d;
            z-index: -1;
        }

    }

    &__button {
        display: flex;
        align-items: center;

        &.active {
            .course-price__button-icon {
                fill: #46ff21;
            }

            color: $l;

            &:after {
                background: #222222;
                box-shadow: inset 5px 5px 10px #1b1b1b,
                    inset -5px -5px 10px #292929;
                outline: transparent;
            }
        }
    }


    &__icon {
        fill: currentColor;
        margin-right: 20px;
        transition: fill 0.3s;
    }

    &__button-icon {
        margin-right: 10px;
        fill: currentColor;
        flex-shrink: 0;
    }

}

.course-faq {
    padding-top: 0;

    &__list {
        border-radius: 20px;
        box-shadow: -3px -3px 10px rgba($d, 0.2), 3px 3px 10px rgba($d, 0.3);
    }

    &__item {
        &:not(:last-child) {
            border-bottom: 1px solid $d;
        }
    }

    &__question {
        display: flex;
        align-items: center;
        padding: 10px 35px;
        cursor: pointer;
        font-size: 18px;
        transition: color 0.4s;

        @media (max-width: 576px) {
            font-size: 16px;
            padding: 10px 20px;
        }

        &.open {
            color: $a900;

            .course-faq__question-icon {
                &:after {
                    background-color: $a900;
                }

                &:before {
                    height: 0;
                }
            }
        }
    }

    &__question-icon {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        &:after {
            content: '';
            width: 14px;
            height: 2px;
            background-color: $d;
            position: absolute;
            transition: background-color 0.7s;

        }

        &:before {
            content: '';
            width: 2px;
            height: 14px;
            background-color: $d;
            position: absolute;
            transition: height 0.7s;
        }
    }

    &__ans {
        padding: 20px 35px;

        @media (max-width: 576px) {
            padding: 20px 20px;
        }
    }
}