@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/magnific-popup/src/css/main.scss';
@import 'global/global';
@import 'lego/prev-courses';

.hero {
    padding-top: 95px;
    padding-bottom: 0;
    position: relative;

    &__content {
        padding-top: 20vh;
        max-width: 60%;
        margin-bottom: 40px;

        @media (max-width: 768px) {
            padding-top: 10vh;
            max-width: 80%;
        }
    }

    &__main-title {
        width: 428px;
        height: 90px;
        background-image: url('../images/main-title-small.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 15px;

        @media (max-width: 576px) {
            width: 300px;
            height: 63px;
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 700;

        p:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__slider {
        max-width: 1600px;
        width: 100%;
        height: 80vh;
        margin: 0 auto;
        // overflow: hidden;
        position: relative;
        padding-top: 50px;

        @media (max-width: 992px) {
            height: 50vh;
        }

        @media (max-width: 576px) {
            height: 40vh;
        }

        .slick-arrow {
            z-index: 5;
            position: absolute;
            top: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: box-shadow 0.3s;

            @media (max-width: 768px) {
                display: none !important;
            }

            &:hover {
                box-shadow: 5px 5px 10px $l-d, -5px -5px 10px $l-l;
            }

            &:active {
                box-shadow: inset 5px 5px 10px $l-d, inset -5px -5px 10px $l-l;
            }

            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-bottom: 2px solid $s;
                border-left: 2px solid $s;
                transform: rotate(45deg);
            }
        }

        .slick-prev {
            left: 0;

            &:before {
                margin-left: 5px;
            }
        }

        .slick-next {
            
            left: 55px;

            &:before {
                transform: rotate(-135deg);
                margin-right: 5px;
            }
        }
    }

    &__slider-item {
        height: 80vh;

        @media (max-width: 992px) {
            height: 50vh;
        }

        @media (max-width: 576px) {
            height: 40vh;
        }
    }

    &__slider-content {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 60px;
        color: $l;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(-5deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 2, 0) 100%);
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
    }

    &__slider-title {
        font-size: 36px;
        margin-bottom: 30px;
    }

    &__slider-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__slider-text {
        font-size: 18px;
    }

    &__slider-link {
        text-align: right;
        color: $a-l;
        font-size: 24px;
        border-bottom: 1px solid transparent;
        opacity: border-color 0.3s, opacity 0.3s;

        &:hover {
            border-color: $a-l;
        }

        &:active {
            opacity: 0.7;
        }
    }


    &__video {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }

    &__slider-img {
        object-fit: cover;
        height: 100%;
    }
}

.slick-slide,
.slick-current,
.slick-active {
    transition: left 5s, opacity 5s !important;
    //плавность фейдинга слика
}

.about {
    &__inner {
        display: flex;

        @media (max-width: 1200px) {
            flex-wrap: wrap;
            padding: 0 45px;
        }

        @media (max-width: 576px) {
            padding: 0 15px;
        }
    }

    &__pictures {
        margin-right: 90px;
        max-width: 600px;
        width: 100%;
        max-height: 500px;
        position: relative;

        @media (max-width: 1200px) {
            margin: 0 auto 70px;
        }

        @media (max-width: 576px) {
            max-width: 500px;
            max-height: 250px;
            height: auto;
        }

        .slick-arrow {
            z-index: 5;
            position: absolute;
            bottom: -50px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: box-shadow 0.3s;

            @media (max-width: 768px) {
                display: none !important;
            }

            &:hover {
                box-shadow: 5px 5px 10px $l-d, -5px -5px 10px $l-l;
            }

            &:active {
                box-shadow: inset 5px 5px 10px $l-d, inset -5px -5px 10px $l-l;
            }

            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-bottom: 2px solid $s;
                border-left: 2px solid $s;
                transform: rotate(45deg);
            }
        }

        .slick-prev {
            right: 55px;

            &:before {
                margin-left: 5px;
            }
        }

        .slick-next {
            right: 0;

            &:before {
                transform: rotate(-135deg);
                margin-right: 5px;
            }
        }
    }

    &__picture-wrap {
        display: block !important;
        overflow: hidden;
    }

    &__img {

        // object-fit: cover;
        @media (max-width: 768px) {
            width: 100%;
            height: auto;
        }
    }

    &__text {
        font-weight: 700;

        p:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.anonses {
    padding-top: 0;

    &__inner {
        display: flex;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    &__main {
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        transition: opacity 0.3;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
        }

        &:hover {
            .anonses__overlay {
                transform: scale(1) skew(0);
            }

            .anonses__content {
                opacity: 0.2;
            }
        }

        &:focus {
            outline: transparent;

            .anonses__overlay {
                transform: scale(1) skew(0);
            }

            .anonses__content {
                opacity: 0.2;
            }
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $l;
        padding: 25px;
        transition: opacity 1s;

        @media (max-width: 768px) {
            padding: 10px;
        }
    }

    &__subtitle {
        font-size: 24px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__text {
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    &__overlay {
        position: absolute;
        background-color: rgba($d, 0.75);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 1s;
        transform: scale(0) skew(75deg, 25deg);
    }


    &__list {
        width: 50%;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__item {
        width: 50%;
    }


}

.partners {
    padding-top: 0;

    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 100px;
        border-radius: 1px;
        transition: box-shadow 0.4s;
        margin: 0 auto;

        &:hover {
            box-shadow: 7px 7px 14px #aaa8a5, -7px -7px 14px #ffffff;
        }

        &:focus {
            outline: transparent;

            .partners__img {
                outline: 1px solid $s;
                outline-offset: 5px;
            }
        }

        &:active {
            box-shadow: inset 7px 7px 14px #aaa8a5, inset -7px -7px 14px #ffffff;
        }
    }

    &__img {
        transition: outline 0.3s;
    }
}

.reviews {
    padding-top: 0;

    &__inner {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        // для управления порядком частей слайдера
    }

    .slick-list {
        order: 0;

        @media (max-width: 1200px) {
            margin-bottom: 40px;
        }
    }

    .slick-dots {
        order: 2;
        font-size: 0;
        display: flex;
        margin-right: 35px;

        @media (max-width: 576px) {
            margin: 0 auto;
        }

        li {
            &:not(:last-child) {
                margin-right: 15px;
            }

            &.slick-active {
                button {
                    transform: scale(1.8);
                }
            }
        }

        button {
            display: block;
            width: 7px;
            height: 7px;
            background-color: $s;
            transform: rotate(45deg);
            transition: box-shadow 0.3s, transform 0.3s;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 18px;
                height: 18px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                box-shadow: 3px 3px 8px rgba($d, 0.5);
            }

            &:focus {
                outline-offset: 2px;
            }

            &:active {
                box-shadow: inset 3px 3px 8px rgba($d, 0.5);
            }

        }
    }

    .slick-arrow {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        font-size: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: box-shadow 0.3s;

        @media (max-width: 576px) {
            display: none !important;
        }

        &:hover {
            box-shadow: 5px 5px 10px $l-d, -5px -5px 10px $l-l;
        }

        &:active {
            box-shadow: inset 5px 5px 10px $l-d, inset -5px -5px 10px $l-l;
        }

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-bottom: 2px solid $s;
            border-left: 2px solid $s;
            transform: rotate(45deg);
            margin-left: 9px;
        }
    }

    .slick-prev {
        order: 1;
        margin-right: 35px;
    }

    .slick-next {
        order: 3;

        &:before {
            transform: rotate(-135deg);
            margin-left: 0;
            margin-right: 9px;
        }
    }



    &__blockquote {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

        @media (max-width: 992px) {
            flex-wrap: wrap;
            padding: 0;
        }
    }

    &__img {
        border-radius: 50%;
        margin-right: 100px;

        @media (max-width: 992px) {
            margin: 0 auto 40px;
        }

        @media (max-width: 576px) {
            width: 100px;
            height: 100px;
        }
    }

    &__text {
        margin-bottom: 20px;
    }

    &__author {
        color: $a-d;
        font-size: 24px;
        font-weight: 700;

        @media (max-width: 576px) {
            font-size: 18px;
        }
    }
}