

@import '../../node_modules/slick-carousel/slick/slick.scss';
// @import '../../node_modules/magnific-popup/src/css/main.scss';
@import 'global/global';

.all-news {
    &__inner {
        display: flex;
        gap: 15px;

        @media (max-width: 992px) {
            flex-wrap: wrap;
            gap: 40px;
        }
    }

    &__list {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        @media (max-width: 992px) {
            width: 100%;
        }

        @media (max-width: 576px) {

        }
    }

    &__item {
        display: flex;
        align-items: center;


        @media (max-width: 576px) {
            flex-wrap: wrap;
        }
    }

    &__img {
        // @media (max-width: 992px) {
        //     max-width: 200px;
        //     height: 150px;
        // }

        @media (max-width: 576px) {
            margin: 0 auto 20px;
        }
    }

    &__link {
        flex-grow: 1;
        padding: 0 25px;
        transition: color 0.3s;

        @media (max-width: 576px) {
            padding: 0;
        }

        &:hover {
            color: $s;

            .all-news__subtitle {
                transform: scale(1.1) translateX(22px);

                @media (max-width: 576px) {
                    transform: scale(1) translateX(0);
                }
            }
        }

        &:focus {
            outline-offset: 0;
        }
    }

    &__subtitle {
        font-size: 24px;
        margin-bottom: 10px;
        transition: transform 0.5s;

        @media (max-width: 576px) {
            text-align: center;
        }
    }
}

.sidebar {
    flex-grow: 1;
    border-left: 1px solid $d;
    padding-left: 35px;

    @media (max-width: 768px) {
        width: 70%;
        margin-left: auto;
        flex-grow: 0;
    }

    @media (max-width: 576px) {
        width: 100%;
        margin: 0;
    }

    &__title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.new {
    padding: 100px 0;

    &__title {
        font-size: 36px;
        font-weight: 400;
        position: relative;
        margin-bottom: 60px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background-color: $a;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__author {
        font-weight: 700;
    }

    &__date {
        color: $s;
        font-size: 20px;
    }

    &__pre-text {
        font-style: italic;
        margin-bottom: 30px;
    }

    &__section {
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 30px;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__subtitle {
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__img {
        @media (max-width: 992px) {
            margin: 0 auto;
        }
    }
}