@import 'global/global';

.all-courses {
    padding-top: 70px;

    &__inner {
        display: flex;
        align-items: flex-start;
        gap: 60px;
        margin-bottom: 60px;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    &__list {
        width: 40%;

        @media (max-width: 768px) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        display: block;
        height: 380px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__invited {
        position: relative;
        padding: 50px 0;
        margin-bottom: 60px;
    }

    &__invited-icon {
        fill: $l-l;
        margin-right: 25px;
    }

    &__invited-link {
        background: linear-gradient(90deg, rgba($d-d, 1) 30%, rgba($a, 1) 100%);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 100%;
        transform: translate(-50%, -50%);
        color: $l;
        font-size: 24px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: opacity 0.8s;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: $d-d;
            z-index: -1;
            position: absolute;
            opacity: 1;
            transition: opacity 0.8s;
        }

        &:hover::before {
            opacity: 0;
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__card {
        position: relative;
        width: 100%;
        height: 100%;
        // max-height: 300px;

        &--big {
            width: 55%;
            max-height: 100%;

            @media (max-width: 768px) {
                width: 100%;
            }

            .all-courses__card-img {
                height: 100%;
            }

            .all-courses__card-subtitle {
                margin-bottom: 20px;
                font-size: 24px;

                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }
        }


    }

    &__card-img {
        width: 100%;
        object-fit: cover;
        height: 100%;

        border-radius: 15px;

        transition: opacity 0.4s;
    }

    &__card-content {
        border-radius: 15px;
        position: absolute;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 8%, rgba(9, 9, 121, 0) 80%);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $l;
        padding: 25px;
        z-index: 5;
        transition: box-shadow 0.4s, opacity 0.4s;

        &:hover {
            box-shadow: 7px 7px 14px #555555;

            .all-courses__card-subtitle-author {
                color: $a;
            }
        }

        &:active {

            &+.all-courses__card-img {
                opacity: 0.7;
            }
        }
    }

    &__card-subtitle {
        font-size: 18px;
        margin-bottom: 10px;
    }

    &__card-subtitle-accent {
        color: $a;
    }

    &__card-subtitle-author {
        transition: color 1s;
    }

    &__grid-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 60px;

    }

    &__grid-item {
        width: calc((100% - 60px) / 2);
        height: 380px;


        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.lecturers {
    &__list {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;

        @media (max-width: 1200px) {
            justify-content: center;
        }
    }

    &__item {
        width: calc((100% - 50px) / 2);
        max-width: 560px;

        @media (max-width: 1200px) {
            width: 100%;
        }
    }
}

.lecturer-card {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
    background-color: $l-l;
    padding-bottom: 25px;
    border-bottom-left-radius: 85px;

    @media (max-width: 576px) {
        padding: 25px;
    }

    &__title {
        margin-bottom: 25px;
        font-size: 22px;

        @media (max-width: 576px) {
            margin-bottom: 15px;
        }
    }

    &__content {
        padding: 25px 0 0 25px;
        width: 50%;

        @media (max-width: 576px) {
            order: 1;
            width: 100%;
            padding: 25px 0 0 0;
        }
    }

    &__box {
        width: 45%;

        @media (max-width: 576px) {
            order: 0;
            width: 100%;
        }
    }

    &__img {
        margin-bottom: 30px;
        width: 100%;
        height: auto;

        @media (max-width: 576px) {
            max-width: 300px;
            margin: 0 auto 30px;
        }
    }

    &__social {
        justify-content: center;
    }

    &__button {
        margin: 0 auto;
        background-color: $l-l;
        box-shadow: inset 5px 5px 10px $l-d,
            inset -5px -5px 10px $l-l;

        @media (max-width: 576px) {
            order: 2;
        }
    }
}