.footer {
    background-color: $d;
    padding: 40px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        @media (max-width: 768px) {
            gap: 40px;
        }
    }

    &__text {
        text-transform: uppercase;
        color: $l;

        @media (max-width: 768px) {
            order: 2;
            width: 100%;
            text-align: center;
            font-size: 12px;
        }
    }

    &__logo {
        @media (max-width: 768px) {
            order: 0;
        }

        @media (max-width: 576px) {
            margin: 0 auto;
        }
    }

    &__social {

        @media (max-width: 992px) {
            margin: 0 auto;
        }

        @media (max-width: 768px) {
            order: 1;
        }

        @media (max-width: 576px) {
            width: 100%;
            justify-content: center;
        }
    }

    &__bottom {
        width: 100%;
        text-align: right;

        @media (max-width: 768px) {
            order: 3;
            text-align: center;
        }
    }

    &__link {
        color: $l-d;
        transition: color 0.4s;

        &:hover {
            color: $s-l;
        }
    }
}