.header {
    // border-bottom: 1px solid rgb(0, 0, 0);
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    backdrop-filter: blur(12px);
    background-color: rgba($l, 0.6);
}



.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        font-size: 16px;
        position: relative;
        border-radius: 5px;
        padding: 7px 10px;
        transition: box-shadow 0.5s;

        &.current {
            color: $a900;
        }

        &:hover {
            box-shadow: 7px 7px 14px #aaa8a5, -7px -7px 14px #ffffff;
        }

        &:active {
            box-shadow: inset 7px 7px 14px #aaa8a5, inset -7px -7px 14px #ffffff;
        }
    }
}