.hero {
    padding-top: 95px;
    padding-bottom: 0;
    position: relative;
    // background-color: #3f3f3f;

    &__content {
        padding-top: 20vh;
        max-width: 50%;
        margin-bottom: 40px;
    }

    &__slider {
        max-width: 1600px;
        width: 100%;
        height: 80vh;
        margin: 0 auto;
        overflow: hidden;
    }

    &__slider-item {
        height: 80vh;
    }

    &__slider-img {
        object-fit: cover;
        height: 100%;
    }
}

.slick-slide, .slick-current, .slick-active {
    transition: left 5s, opacity 5s !important;
    //плавность фейдинга слика
}


.about {
    &__inner {
        display: flex;
    }

    &__img {
        margin-right: 90px;
        background-color: rgba(0, 128, 128, 0.205);
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.anonses {
    &__inner {
        display: flex;
    }

    &__main {
        width: 50%;
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        transition: opacity 0.3;

        &:hover {
            .anonses__content {
                transform: scale(1) skew(0);
            }
        }

        &:focus {
            outline: transparent;

            .anonses__content {
                transform: scale(1) skew(0);
            }
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        background-color: rgba($d, 0.75);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $l;
        padding: 25px;
        transform: scale(0) skew(75deg, 25deg);
        transition: transform 1s;
    }

    &__subtitle {
        font-size: 24px;
    }

    &__list {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 50%;
    }
}

.partners {
    padding-top: 0;

    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 100px;
        border-radius: 1px;
        transition: box-shadow 0.4s;

        &:hover {
            box-shadow:  7px 7px 14px #aaa8a5, -7px -7px 14px #ffffff;
        }

        &:focus {
            outline: transparent;

            .partners__img {
                outline: 1px solid $a2-300;
                outline-offset: 5px;
            }
        }

        &:active {
            box-shadow: inset 7px 7px 14px #aaa8a5, inset -7px -7px 14px #ffffff;
        }
    }

    &__img {
        transition: outline 0.3s;
    }
}

.reviews {
    padding-top: 0;

    &__inner {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        // для управления порядком частей слайдера
    }

    .slick-list {
        order: 0;
    }

    .slick-dots {
        order: 2;
        font-size: 0;
        display: flex;
        margin-right: 35px;

        li {
            &:not(:last-child) {
                margin-right: 15px;
            }

            &.slick-active {
                button {
                    transform: scale(1.8);
                }
            }
        }

        button {
            display: block;
            width: 10px;
            height: 10px;
            background-color: $a2-900;
            border-radius: 50%;
            transition: box-shadow 0.3s, transform 0.3s;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 18px;
                height: 18px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                box-shadow: 3px 3px 8px #3636367a;
            }

            &:focus {
                outline-offset: 2px;
            }

            &:active {
                box-shadow: inset 3px 3px 8px #3636367a;
            }

        }
    }

    .slick-arrow {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        font-size: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow:  7px 7px 14px #aaa8a5, -7px -7px 14px #ffffff;
        }

        &:active {
            box-shadow: inset 7px 7px 14px #aaa8a5, inset -7px -7px 14px #ffffff;
        }

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-bottom: 2px solid $a2-900;
            border-left: 2px solid $a2-900;
            transform: rotate(45deg);
            margin-left: 9px;
        }
    }

    .slick-prev {
        order: 1;
        margin-right: 35px;
    }

    .slick-next {
        order: 3;

        &:before {
            transform: rotate(-135deg);
            margin-left: 0;
            margin-right: 9px;
        }
    }



    &__blockquote {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
    }

    &__img {
        border-radius: 50%;
        margin-right: 100px;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__author {
        color: $a900;
        font-size: 24px;
        font-weight: 700;
    }

    &__status {
        font-size: 16px;
        display: block;
        color: $d;
    }
}
