.social {
    display: flex;

    &__item {
        &:not(:last-child) {
            margin-right: 35px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 5px 5px 10px $d-d, -5px -5px 7px $d-l;
        }

        &:active {
            box-shadow: inset 5px 5px 10px $d-d, inset -5px -5px 10px $d-l;
        }

        &:focus {
            outline: transparent;
        }

        &--light {
            background-color: $l;

            &:hover {
                box-shadow: 7px 7px 14px #aaa8a5, -7px -7px 14px #ffffff;
            }

            &:active {
                box-shadow: inset 7px 7px 14px #aaa8a5, inset -7px -7px 14px #ffffff;
            }

            .social__icon {
                fill: $d;
            }
        }
    }

    &__icon {
        fill: $l;
    }
}