.social {
    display: flex;
    gap: 25px;

    @media (max-width: 576px) {
        flex-wrap: wrap;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $d;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 5px 5px 10px $d-d, -5px -5px 7px $d-l;
        }

        &:active {
            box-shadow: inset 5px 5px 10px $d-d, inset -5px -5px 10px $d-l;
        }

        &:focus {
            outline: transparent;
        }

        &--light {
            background-color: $l;

            &:hover {
                box-shadow: 5px 5px 10px $l-d, -5px -5px 10px $l-l;
            }

            &:active {
                box-shadow: inset 5px 5px 10px $l-d, inset -5px -5px 10px $l-l;
            }

            .social__icon {
                fill: $d;
            }
        }

        
    }

    &__icon {
        fill: $l;
    }
}